/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


#grass{
  width: 70%;
  float: left;
  margin-bottom: 2%;
}

#shoe {
  width: 25%;
  float: right;
}

#bug {
  width:31%;
margin-bottom: 2%;
margin-right: 3%;
height: 10%;
display:inline-block;
}

#heel{
  width:31%;
margin-bottom: 2%;
height: 10%;
display: block;
float: right;
}

#border_right{
  display: table-cell;
}

#contact{
  display: table-cell;
}


